dojo-release-*/
js-doc-parse-master/
js-doc-parse/
*/bin/*
*/obj/*
build/*
packages/
tools/packages/
.suo$
.vs/
.temp/
ProvidedTypes.fs
ProvidedTypes.fsi
AssemblyReader.fs
AssemblyReaderReflection.fs
ProvidedTypesContext.fs
.fake/
paket-files/
.vscode/
nuget/.*\.paket\.template
