version 5.173.1
source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
source https://nuget.intellifactory.com/nuget username: "%IF_USER%" password: "%IF_PASS%"

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Html prerelease
nuget FSharp.Core 4.2.3 
github fsprojects/FSharp.TypeProviders.SDK:592d23a src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK:592d23a src/ProvidedTypes.fs
nuget System.Xml.XDocument

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.173.1

group wsbuild
    git https://github.com/dotnet-websharper/build-script
